body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 2rem;
  margin-top: 15rem;
  margin-bottom: 3rem;
}

button {
  width: 100px;
  height: 50px;
  margin-right: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: blue;
}

h2 {
  font-size: 2.5rem;
  color: green;
}
